<%= form_with(model: rent_session, class: "contents") do |form| %>
  <% if rent_session.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"
    >
      <h2><%= pluralize(rent_session.errors.count, "error") %>
        prohibited this rent_session from being saved:</h2>

      <ul>
        <% rent_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :startdate %>
    <%= form.datetime_field :startdate,
                        class:
                          "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :paymentDueDate %>
    <%= form.datetime_field :paymentDueDate,
                        class:
                          "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 ">
    <%= form.label :resident_id, class: "block" %>
    <%= form.collection_select :resident_id,
                           Resident.all,
                           :id,
                           :name,
                           class:
                             "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :apartment_id, class: "block" %>
    <%= form.collection_select :apartment_id,
                           Apartment.all,
                           :id,
                           :apartmentnumber,
                           class:
                             "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class:
                  "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
