<%= form_with(model: rent_session) do |form| %>
  <% if rent_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rent_session.errors.count, "error") %> prohibited this rent_session from being saved:</h2>

      <ul>
        <% rent_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :paymentDueDate, style: "display: block" %>
    <%= form.datetime_field :paymentDueDate %>
  </div>

  <div>
    <%= form.label :resident_id, style: "display: block" %>
    <%= form.text_field :resident_id %>
  </div>

  <div>
    <%= form.label :apartment_id, style: "display: block" %>
    <%= form.text_field :apartment_id %>
  </div>

  <div>
    <%= form.label :isPaid, style: "display: block" %>
    <%= form.check_box :isPaid %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
