<div id="<%= dom_id rent_session %>">
  <p>
    <strong>Paymentduedate:</strong>
    <%= rent_session.paymentDueDate %>
  </p>

  <p>
    <strong>Resident:</strong>
    <%= rent_session.resident_id %>
  </p>

  <p>
    <strong>Apartment:</strong>
    <%= rent_session.apartment_id %>
  </p>

  <p>
    <strong>Ispaid:</strong>
    <%= rent_session.isPaid %>
  </p>

</div>
