<div id="<%= dom_id rent_session, class:'flex flex-row inline' %>">
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%= rent_session.resident.name %>
  </td>
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%= rent_session.apartment.name %>
  </td>
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%= rent_session.paymentDueDate.strftime("%B %d, %Y") %>
  </td>
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%= format_currency(totalRent(rent_session)) %>
  </td>
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%=format_currency( totalPayments(rent_session)) %>
  </td>
  <td
    class="
      whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0
    "
  >
    <%= fullyPaid?(rent_session)? "Yes": "No" %>
  </td>
</div>
