<div id="<%= dom_id rent_session %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Startdate:</strong>
    <%= rent_session.startdate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Paymentduedate:</strong>
    <%= rent_session.paymentDueDate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resident:</strong>
    <%= rent_session.resident_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Apartment:</strong>
    <%= rent_session.apartment_id %>
  </p>


</div>
