<p style="color: green"><%= notice %></p>

<%= render @rent_session %>

<div>
  <%= link_to "Edit this rent session",
  edit_rent_session_path(@rent_session),
  class: "btn btn-outline-secondary" %>
  <%= link_to "Back to rent sessions",
  rent_sessions_path,
  class: "btn btn-outline-secondary" %>

  <%= button_to "Delete session",
  @rent_session,
  method: :delete,
  class: "btn btn-danger" %>
</div>
