<div id="<%= dom_id block %>">
  <p class="flex gap-2">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= block.name %>
  </p>
  <% if can? :manage, block %>
    <p class="flex gap-2" data-controller="key">
      <strong class="block font-medium mb-1">Viewer Key: </strong>
      <% hidden = '*' * block.block_key.viewkey.length %>
      <span data-key-target="key"
      data-key="<%= block.block_key.viewkey %>"
      data-hidden="<%= hidden%>"
      data-key-attribute="hidden">
        <%= hidden %>
      </span>
      <i class="fa-solid fa-eye-slash pointer" data-key-target='show' data-bs-toggle="tooltip" data-bs-placement="show" data-action="click->key#toggle"></i>
      <i class="fa-solid fa-copy pointer"  data-key-target='copy'  data-bs-toggle="tooltip" data-bs-placement="copy" data-action="click->key#copy"></i>
    </p>
    <p class='text-secondary fst-italic'>Share this key with any viewers you would like to add to this block</p>
    <p class="flex gap-2" data-controller="key">
      <strong class="block font-medium mb-1">Admin Key: </strong>
      <% hidden = '*' * block.block_key.key.length %>
      <span data-key-target="key"
      data-key="<%= block.block_key.key %>"
      data-hidden="<%= hidden%>"
      data-key-attribute="hidden">
        <%= hidden %>
      </span>
      <i class="fa-solid fa-eye-slash pointer" data-key-target='show' data-bs-toggle="tooltip" data-bs-placement="show" data-action="click->key#toggle"></i>
      <i class="fa-solid fa-copy pointer"  data-key-target='copy'  data-bs-toggle="tooltip" data-bs-placement="copy" data-action="click->key#copy"></i>
    </p>
    <p class='text-secondary fst-italic'>Share this key with any admins you would like to add to this block</p>
    <div>
      <h3 class="font-bold text-3xl">Admins</h3>
      <ul>
        <% block.admins.each do |admin| %>
          <li>
            <p><%= admin.email %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if can?(:read, block) and block.viewers.present? %>
    <div>
      <h3 class="font-bold text-3xl">Viewers</h3>
      <ul>
        <% block.viewers.each do |viewer| %>
          <li>
            <p><%= viewer.email %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
