<% if blocks.any? %>
  <div class='w-full d-flex align-items-center justify-content-center'>
    <div class='w-50'>
      <ul class="">
        <% blocks.each do |block| %>
          <li>
            <div  class= 'fw-bold h3 flex gap-2' ><%= block.name%>
              <div class='flex gap-2 text-base items-center'>
                <%= link_to edit_block_path(block),class: '' do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to block ,class: '' do %>
                  <i class="fa-solid fa-bars"></i>
                <% end %>
                <%= button_to block,method: :delete ,class: '' do %>
                  <i class="fa-solid fa-trash text-red-500"></i>
                <% end %>
              </div>
            </div>
            <%= render "apartments/apartment_table", apartments: block.apartments %>
            <% if block.apartments.empty? %>
              <p class='text-secondary fst-italic'>Apartments attached to this block will be added here</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
