<div
  class='w-full'
>
  <div class=''>
    <%= form_with(model: block, class: "contents") do |form| %>
      <% if block.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2 class='h5'><%= pluralize(block.errors.count, "error") %>
            prohibited this block from being saved:</h2>
          <ul>
            <% block.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="py-3">
        <%= form.submit class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
  <p class='font-bold text-xl'>OR Pull block</p>
  <p class='italic text-secondary text-sm'>Pulling a block means becoming an admin for a block created by another user. You need to enter the key the from block admin</p>
</div>
