
  <div class='w-full'>
    <%= form_with(model: block,) do |form| %>
      <% if block.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2 class='h5'><%= pluralize(block.errors.count, "error") %>
            prohibited this block from being saved:</h2>
          <ul>
            <% block.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="w-full">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="py-3">
        <%= form.submit class: "btn btn-outline-dark" %>
      </div>
    <% end %>
  </div>
