<%= form_with(model: resident, class: "contents") do |form| %>
  <% if resident.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"
    >
      <h2><%= pluralize(resident.errors.count, "error") %>
        prohibited this resident from being saved:</h2>
      <ul>
        <% resident.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="py-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <%= form.label :physicalId, class: "form-label" %>
    <%= form.text_field :physicalId, class: "form-control" %>
    <%= form.label :phonenumber, class: "form-label" %>
    <%= form.text_field :phonenumber, class: "form-control" %>
    <div>
      <%= form.label :apartment_id, class: "form-label" %>
      <%= form.collection_select :apartment_id,
                             Apartment.filter_by_admin(current_user),
                             :id,
                             :name,
                             class: "form-control" %>
    </div>
  </div>
  <div class="inline py-3">
    <%= form.submit class:
                  "btn btn-outline-primary" %>
  </div>
<% end %>
