<% if residents.any? %>
<table id="residents" class="min-w-full table table-auto min-w-full divide-y divide-gray-300">
    <thead>
        <tr>
            <% ["Name","Apartment","Phonenumber","Start Date","Rent","collectable rent","total payments","Balance Due"].each do |column|  %>
            <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-0">
                <%= column %>
            </th>
            <%end%>


            <% if show ||= false %>
            <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-0">
                Actions
            </th>
            <% end %>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
        <% residents.each do |resident| %>
            <tr>
                <%= render resident %>
                <%if show ||=false%>
                    <td class="relative flex text-lg gap-2 whitespace-nowrap py-4 pl-3 pr-4 text-right font-medium sm:pr-0 text-lg">
                        <% if resident.is_not_archived %>
                            <%= link_to resident ,class: '' do %>
                                <i class="fa-solid fa-bars"></i>
                            <% end %>
                        <% end %>
                        <%= link_to resident_setup_resident_payment_path(resident),class: '' do %>
                            <i class="fa-solid fa-money-bill text-blue-500"></i>
                        <% end %>
                        <% if resident.is_not_archived %>
                            <% if can? :destroy, resident %>
                                <%= button_to resident,method: :delete ,class: '' do %>
                                    <i class="fa-solid fa-trash text-red-500"></i>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                <% end %>
        
            </tr>
        <% end %>
        <tr>
        <div  class="flex flex-row inline">
    <%
    total_rent = residents.map(&:apartment).sum(&:price)
    total_due = residents.map(&:collectable_rent).sum
    total_payment =  residents.map(&:payment_total).sum
    [
      "TOTAL",
      "",
      "",
      "",
      format_currency(total_rent),
      format_currency( total_due),
      format_currency(total_payment),
      format_currency(total_due - total_payment)].each do |value| %>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                <%= value %>
            </td>
        <%end%>
    
</div>
        </tr>
    </tbody>
</table>
<% end %>