<%= form_with(model: [rent_session, payment]) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %>
        prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :date, class: "form-label" %>
    <%= form.datetime_field :date, class: "form-control", required: true %>
  </div>
  <div>
    <%= form.label :amount, class: "form-label" %>
    <%= form.number_field :amount, class: "form-control", data: { controller: "number-field", number_field_target: "input", max: maxPayment(rent_session, current = payment.amount ||= 0) } %>
  </div>
  <div class='pt-3'>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
