<div id="<%= dom_id expenditure %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= expenditure.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= expenditure.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reference:</strong>
    <%= expenditure.reference %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= expenditure.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= expenditure.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= expenditure.category %>
  </p>

</div>
