<div class="mx-auto md:w-2/3 w-full flex">
    <div class="mx-auto">
        <% if notice.present? %>
        <p class="
          py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
        " id="notice"><%= notice %></p>
        <% end %>
        <%= render "expenditure_table", expenditures: [@expenditure] %>
        <%= link_to "Back to expenditures",
    expenditures_path,
    class: "btn btn-outline-secondary" %>
        <% if can? :edit, @expenditure %>
        <%= link_to "Edit this expenditure",
    edit_expenditure_path(@expenditure),
    class: "btn btn-outline-dark" %>
        <% end %>
        <% if can? :destroy, @expenditure %>
        <div class="inline-block ml-2">
            <%= button_to "Delete expenditure",
      @expenditure,
      method: :delete,
      class: "btn btn-danger" %>
        </div>
        <% end %>
    </div>
</div>