<%= form_with(model: apartment, class: "contents") do |form| %>
  <% if apartment.errors.any? %>
    <div
      id="error_explanation"
      class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg ma"
    >
      <h2><%= pluralize(apartment.errors.count, "error") %>
        prohibited this apartment from being saved:</h2>

      <ul>
        <% apartment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class=" py-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, step: 100, class: "form-control" %>

    <%= form.label :floor, class: "form-label" %>
    <%= form.text_field :floor, class: "form-control " %>

    <%= form.label :apartmentnumber, class: "form-label" %>
    <%= form.number_field :apartmentnumber, class: "form-control " %>

    <%= form.label :block_id, class: "block" %>
    <%= form.collection_select :block_id,
                           Block.all,
                           :id,
                           :name,
                           class:
                             "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
