<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p
        class="
          py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
        "
        id="notice"
      ><%= notice %></p>
    <% end %>

    <%= render "apartment_table", apartments: [@apartment] %>

    <%= link_to "Edit this apartment",
    edit_apartment_path(@apartment),
    class: "btn btn-outline-primary" %>
    <%= link_to "Back to apartments",
    apartments_path,
    class: "btn btn-outline-secondary" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete apartment",
      @apartment,
      method: :delete,
      class: "btn btn-danger" %>
    </div>
  </div>
</div>
